html, body, div, h1, h2, h3, h4, h5, h6, p, img, dl, dt, dd, ol, ul, li, table, caption, tbody, tfoot, thead, tr, th, td, form, fieldset, embed, object, applet, .searchBlock{
	margin: 0;
	padding: 0;
	border: 0;
}

body{
	font-family: "Segoe UI", Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size:14px;
	color: #000000;
	background-color: black;
}

ul {
	list-style: none;
}

h1, h2, h3{
	padding: 0 10px 0 0;
	font-weight: normal;
}

h4, h5, table{
	font-size: 1em;
}

a, a:visited {
	color: #CC1013;
	text-decoration: none;
}

.clear{
	clear:both;
}

.inlineBlock{
	position: relative;
	display: inline-block;
}

i{
	display: inline-block;
	zoom: 1;
	vertical-align: text-top;
	/*background: url(../img/twitter_web_sprite_icons.png) no-repeat 0px 0px;*/
}

#start-dom{
	height: 100%;
}

.tophub{
	position: relative;
	min-width: 845px;
	-webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.35);
	box-shadow: 0 5px 8px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0 5px 8px rgba(0,0,0,.35);
	z-index: 4;
}

.topnav{
	position: relative;
	min-width: 845px;
	background-color: #CC1013;
	height: 50px;
}

.litLab{
	margin: 0px 5px 0px 5px;
}

.navLeft, .naviItem{
	float: left;
}

.navLeft{
	margin-right: 12px;
}

.naviItem{
	position: relative;
	padding: 5px 0px;
}

.hoverNaviLink, .naviLink, .naviLink:visited, .hoverNaviLink:visited {
	display: block;
	height: 12px;
	padding: 13px 12px 15px;
	margin: 0px 12px;
	/*font-weight: bold;*/
	line-height: 1;
	color: #ffffff;
	/*text-shadow: 0 -1px 0 rgba(0, 0, 0, .75);*/
	font-size: 13px;
	text-transform: uppercase;
}

.relativeClass, .naviLink, .naviLink:visited{
	position: relative;
}

.naviItem:hover, .navCenter ul li:hover, .navRight ul li:hover{
	cursor: pointer;
	background-color: #A50D0F;
}

.navCenter .navActive{
	background-color: #A50D0F;
}

.naviLink:hover.navHover{
	left: 0;
}

.navHover{
	z-index: 5;
}

.naviLogoLink{
	padding-left: 0px;
	padding-right: 0px;
}

.mainLogo{
	text-decoration: none;
	background: url(../img/T2goLogo.png) no-repeat;
	width: 140px;
	height: 28px;
	display: inline-block;
	margin-top: 9px;
	margin-right: 10px;
}

.naviImage{
	float: left;
	margin: -4px 6px 0 0;
}


.navCenter{
	float: left;
	margin-left: 6px;
	margin-right: 0;
	margin-top: 0px;
}

.navRight{
	float: right;
	margin-left: 6px;
	margin-right: 0;
	margin-top: 0px;
}

.navCenter ul, .navRight ul{
	display: block;
	background: #CC1013;
	float: left;
	padding-right: 5px;
	margin-top: 5px;
	position: absolute;
	left: -9999px;
	white-space: nowrap;
}

.navCenter ul li, .navRight ul li{
	padding-top: 1px;
	float: none;
	width: 100%;
	height: 100%;
	padding-right: 5px;
}

.navCenter li:hover ul, .navRight li:hover ul{
	left: 0;
}

.rightCaret{
	display: inline-block;
	width: 0;
	height: 0;
	margin-top: 2px;
	margin-left: 1px;
	vertical-align: top;
	border-top: 6px solid transparent;
	border-left: 6px solid white;
	border-right: 6px solid transparent;
	border-bottom: 6px solid transparent;
}

.downCaret{
	display: inline-block;
	width: 0;
	height: 0;
	margin-top: 3px;
	margin-left: 1px;
	vertical-align: top;
	border-top: 6px solid white;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
}

.container{
	width: 830px;
	height: 100%;
	min-width: 830px;
	margin: 0px auto;
}

/* example of the layout center-fixer in action */
#page{
	text-align: center;
	background-color: whitesmoke;
	width: 100%;
	min-width: 845px;
}

.mainHeader{
	height: 300px;
}

.headerCommon{
	min-width: 815px;
	background-color: #D8D8D8;
}

.subHeader{
	height: 66px;
	padding: 20px 15px;
}

.mainSubTitle{
	padding-top: 0px;
}

.subTitleCommon{
	display: block;
	font-size: 12pt;
	text-transform: uppercase;
	color: black;
}

.rounded3{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.shadow{
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .2);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .2);
}

.shadow:focus{
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: inset none;
}

.transition{
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.entryContent{
	margin-bottom: 25px;
	padding: 20px 0px;
	height: 500px;
}

.centeredHighlights{
	display: inline-block;
}

.highlight{
	float: left;
	width: 203px;
	margin-right: 28px;
	margin-bottom: 28px;
}

.highlightImageContainer {
	line-height: 0px;
	position: relative;
}

.highlightTextContainer{
	text-align: left;
}

.highlightTitles {
	margin-bottom: 4px;
}

.title3, .titleh2, .titleh3{
	color: #CC1013 !important;
}

.highlightLink {
	margin-top: 10px;
}

.link3{
	color: #CC1013 !important;
}

.leftShadow{
	-webkit-box-shadow: -5px 0px 8px -6px rgba(0, 0, 0, 0.35);
	box-shadow: -5px 0px 8px -6px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: -5px 0px 8px -6px rgba(0,0,0,.35);
}

.rightShadow{
	-webkit-box-shadow: 5px 0px 8px -6px rgba(0, 0, 0, 0.35);
	box-shadow: 5px 0px 8px -6px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 5px 0px 8px -6px rgba(0,0,0,.35);
}

.allShadow{
	-webkit-box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.35);
	box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0px 0px 21px -6px rgba(0,0,0,.35);
}

.footer{
	bottom: 30px;
	width: 100%;
	color: white;
	background-color: black;
	height: 50px;
	font-size:8pt;
}

.footerLeft{
	float: left;
}

.footerRight{
	float: right;
}

.footerRight, .footerLeft{
	margin-top: 10px;
}

.footer .naviLink{
	display: inline;
}

.fbFooter{
	width: 22px;
	height: 22px;
	background: url(../img/fbicon.jpg) no-repeat;
}

.gFooter{
	width: 22px;
	height: 22px;
	background: url(../img/gicon.jpg) no-repeat;
}

/*-----------------------------------------------------------*/

.centeredCurl {
	padding: 23px 0;
	text-align: center;
	background: #F9F8F6 url("../img/tile-gray.png");
	box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
}

.curls {
	position: relative;
	text-transform: uppercase;
}

.curls::before {
	left: 6px;
	-webkit-transform: rotate(-4deg);
	-moz-transform: rotate(-4deg);
	-ms-transform: rotate(-4deg);
	-o-transform: rotate(-4deg);
	transform: rotate(-4deg);
}

.curls::before, .curls::after {
	position: absolute;
	width: 40%;
	height: 10px;
	bottom: 14px;
	background: transparent;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.curls::after {
	right: 6px;
	-webkit-transform: rotate(4deg);
	-moz-transform: rotate(4deg);
	-ms-transform: rotate(4deg);
	-o-transform: rotate(4deg);
	transform: rotate(4deg);
}

.tabs-bg {
	width: 100%;
	background-color: #D8D8D8;
}

.tabs{
	overflow: hidden;
}

.tabs li {
	float: left;
}

.tabs a {
	float: left;
	padding: 10px 20px;
	margin-right: 2px;
	color: #6C6D6C;
	background-color: #E8E7E5;
	font-size: 15px;
	font-family: arial;
	box-shadow: 0 -3px 4px rgba(0, 0, 0, 0.2) inset;
	border-top: 1px solid #D0D0D0;
	border-right: 1px solid #D0D0D0;
	border-left: 1px solid #D0D0D0;
	font-size: 13px;
}

.tabs a:hover {
	color: #CC1013;
}

.tabCentered{
	width: 670px;
	margin: 0px auto;
}

.tabs a.tabActive {
	color: #CC1013;
	background-color: whitesmoke;
	box-shadow: none;
}

.tabContent{
	padding: 36px 0 40px;
	box-shadow: 0 -5px 16px rgba(0, 0, 0, 0.25);
}

.tabMore{
	display: inline-block;
	text-align: left;
}

.titleh2{
	margin-bottom: 20px;
	font-size: 24px;
	font-size: 1.5rem;
	line-height: 1;
}

.titleh3{

}

.large-button, .mediumButton {
	display: inline-block;
	color: white;
	font-weight: 500;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	box-shadow: none;
	border: none;
	background-color: #CC1013;
	background-image: -khtml-gradient(linear,left top,left bottom,from(#CC1013),to(#A50D0F));
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#CC1013),color-stop(100%,#A50D0F));
	background-image: -moz-linear-gradient(top, #CC1013 0%, #A50D0F 100%);
	background-image: -webkit-linear-gradient(top, #CC1013 0%, #A50D0F 100%);
	background-image: -o-linear-gradient(top, #CC1013 0%, #A50D0F 100%);
	background-image: -ms-linear-gradient(top, #CC1013 0%, #A50D0F 100%);
	background-image: linear-gradient(to bottom, #CC1013 0%, #A50D0F 100%);
	/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CC1013',endColorstr='#A50D0F');*/
}

.large-button {
	padding: 21px 40px;
	font-size: 24px;
}

.mediumButton {
	padding: 10px 25px;
	font-size: 15px;
}

.large-button:hover, .mediumButton:hover {
	color: white;
	background-color: #A50D0F;
	background-image: -khtml-gradient(linear,left top,left bottom,from(#A50D0F),to(#CC1013));
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#A50D0F),color-stop(100%,#CC1013));
	background-image: -moz-linear-gradient(top, #A50D0F 0%, #CC1013 100%);
	background-image: -webkit-linear-gradient(top, #A50D0F 0%, #CC1013 100%);
	background-image: -o-linear-gradient(top, #A50D0F 0%, #CC1013 100%);
	background-image: -ms-linear-gradient(top, #A50D0F 0%, #CC1013 100%);
	background-image: linear-gradient(to bottom, #A50D0F 0%, #CC1013 100%);
	/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A50D0F',endColorstr='#CC1013');*/

}

.large-button:visited, .mediumButton:visited{
	color: white;
}

.callToAction {
	margin-top: 20px;
	padding: 16px 39px;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);
}

.ctaCenter{
	text-align: center;
}

.presentationTable{
	border-collapse: collapse;
}

.presentationImage{
	padding-right: 20px;
	padding-bottom: 30px;
}

.presentationText, .contactRight{
	vertical-align: top;
}

.contactLeft{
	width: 350px;
	padding-bottom: 20px;
}

.emailText{
	resize: none;
}

/*
#fssPrev{
	position:absolute;
	top:78px;
	left:-67px;
	background:url(../img/arrows.png) -67px 0px;
	width:67px;
	height:143px;
	text-indent:-999999px;
}

#fssNext{
	position:absolute;
	top:78px;
	left:830px;
	background:url(../img/arrows.png) no-repeat;
	width:67px;
	height:143px;
	text-indent:-999999px;
}

#fssPlayPause{
	position:absolute;
	top:435px;
	right:20px;
	background:url(white.png) repeat;
	padding:4px 0 5px 0;-moz-border-radius:5px;border-radius:5px;
	width:60px;
	text-align:center;
	display:block;
	color:#333;
	text-decoration:none;
}
*/
#slideshow{
	list-style:none;
	margin:auto;
	width:830px;
	height:300px;
	overflow:hidden;
}

.banner{
	position: relative;
	width: 100%;
	overflow: hidden;
	background-color: white;
	color: white;
	height: 482px;
	min-width: 845px;
}

.bannerWide{
	position: absolute;
	left: 50%;
	height: 100%;
	width: 1600px;
	margin-left: -800px
}

#slides {
	overflow: hidden;
}

#slides li{
	position: absolute;
	top: 0;
	left: 0;
}

.mask{
	position: absolute;
	display: inline-block;
	height: 100%;
	width: 80px;
	top: 0;
	z-index: 1;
}

.left {
	left: 0;
	background: transparent url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background-image: -moz-linear-gradient(left, white 0%, rgba(255, 255, 255, 0) 100%);
	background-image: -webkit-linear-gradient(left, white 0%, rgba(255, 255, 255, 0) 100%);
	background-image: -o-linear-gradient(left, white 0%, rgba(255, 255, 255, 0) 100%);
	background-image: -ms-linear-gradient(left, white 0%, rgba(255, 255, 255, 0) 100%);
	background-image: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
}

.right{
	right: 0;
	background: transparent url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 100%);
	background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 100%);
	background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 100%);
	background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 100%);
	background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 100%);
}

.bannerNormal{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}

.pager a {
	position: absolute;
	z-index: 1;
	top: 38%;
	width: 52px;
	height: 52px;
	background-image: url("../img/navIcons.png");
	cursor: pointer;
}

.bannerCentered {
	width: 830px;
	margin: 0 auto;
	vertical-align: middle;
	height: 100%;
	position: relative;
}

.bannerHeading .large-button{
	margin-top: 188px;
}

.previous {
	left: -72px;
	background-position: 0 -455px;
}

.previous:hover {
	background-position: -60px -455px;
}

.next {
	right: -72px;
	background-position: -120px -455px;
}

.next:hover{
	background-position: -180px -455px;
}
.bannerHeading {
	top: 65px;
	position: absolute;
}

#headings li {
	position: absolute;
}

.bannerNormal h1 {
	width: 560px;
	font-size: 54px;
	line-height: 55px;
	font-weight: 700;
	color: #141414;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4);
}

.bannerCaption{
	position: absolute;
	bottom: 0;
	padding: 13px 0 9px;
	color: white;
	zoom: 1;
}